registry=http://ci-artifacts.devops.fds.com/artifactory/api/npm/npm-all/
@mui:registry=http://ci-artifacts.devops.fds.com/artifactory/api/npm/npm-all/
@oneex:registry=http://ci-artifacts.devops.fds.com/artifactory/api/npm/npm-all/
@foundation:registry=http://ci-artifacts.devops.fds.com/artifactory/api/npm/npm-all/
@stores:registry=http://ci-artifacts.devops.fds.com/artifactory/api/npm/npm-all/
@core:registry=http://ci-artifacts.devops.fds.com/artifactory/api/npm/npm-all/
@rfid:registry=http://ci-artifacts.devops.fds.com/artifactory/api/npm/npm-all/

prefix=~/.npm-global
strict-ssl=false